#navbar_plugin_rr400mcustomizer_div {
  box-sizing: border-box;
  height: auto;
}
#navbar_plugin_rr400mcustomizer svg {
  fill: currentColor;
  height: 1.4em;
  margin-bottom: 0.3em;
  vertical-align: middle;
}
#navbar_plugin_rr400mcustomizer .popover {
  width: auto !important;
  max-width: 50em;
}
#navbar_plugin_rr400mcustomizer .popover table {
  width: auto !important;
  table-layout: auto !important;
}
#navbar_plugin_rr400mcustomizer .popover td {
  width: auto !important;
  white-space: nowrap;
}
#navbar_plugin_rr400mcustomizer .popover td:last-child {
  padding-left: 1em;
}
#navbar_plugin_rr400mcustomizer .popover-title {
  white-space: nowrap;
}

#settings_plugin_rr400mcustomizer #available-ssids {
  margin-top: 20px;
}

#settings_plugin_rr400mcustomizer dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0
}

#settings_plugin_rr400mcustomizer dt {
  float: left;
  width: 40%;
  padding: 0;
  margin: 10px
}

#settings_plugin_rr400mcustomizer dd {
  float: left;
  width: 40%;
  padding: 0;
  margin: 10px
}

#settings_plugin_rr400mcustomizer select, #settings_plugin_rr400mcustomizer button {
  color: black;
}
